@font-face {
    font-family: "monserrat_regular";
    src: url(../font/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "monserrat_bold";
    src: url(../font/Montserrat-bold.ttf);
}

@font-face {
    font-family: "oswald_regular";
    src: url(../font/Oswald-Regular.ttf);
}

@font-face {
    font-family: "oswald_bold";
    src: url(../font/Oswald-Bold.ttf);
}

@font-face {
    font-family: "oswald_semibold";
    src: url(../font/Oswald-SemiBold.ttf);
}