// Variables couleurs
$text-primary: black;
$text-secondary: white;

$primary-color: #ef533c;
$secondary-color: #4b5c75;

// Couleur menu burger
.filter-svg-burger {
  filter: brightness(0) invert(1);
}

// Mixin bouton
@mixin btnMix($color, $bg, $border, $hover) {
  padding: 10px 45px;
  border-radius: 10px;
  border: 2px solid $border;
  background: $bg;
  color: $color;
  font-family: "oswald_bold";
  font-size: 1.1rem;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s;
  display: inline-block;
  &:hover {
    background: $hover;
  }
}
