#concept{
    overflow: hidden;
}

.concept-one {
    padding: 0;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    .text-concept{
        margin : 10%;

        h2{
            margin-bottom: 35px;
        }

        .bloc-text-concept{
            font-family: "monserrat_regular";
            font-size: 0.9rem;
            p {
                margin: 0;
            }
            
        }
    }
}

.concept-two {
    padding: 0;
    .img-concept {
        width: 90%;
        margin: 20px 15px 20px;

        img{
            width:100%;
            object-fit: cover;
        }
    }
}
