.cards_mission_container {
  display: flex;
  justify-content: space-around;
  padding: 2%;
  font-family: "monserrat_bold";

  .card {
    height: 220px;
    width: 220px;
    margin: 0 15px;
    text-align: center;
    justify-content: end;
    h3 {
      font-size: 0.9rem;
    }
  }
}
