.cards_mission_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background: $primary-color;
  padding: 2%;
  font-family: "monserrat_bold";
  @media (max-width: 970px) {
    display: none;
  }

  .card {
    height: 220px;
    min-width: 220px;
    margin: 0 10px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    justify-content: end;
    h3 {
      font-size: 0.9rem;
    }
  }
}
.cards_mission_container_carousel {
  width: 50%;
  margin: 0 auto;
  display: none;

  @media (max-width: 970px) {
    display: block;
  }
}
