.reservation {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 160px;
  color: white;
  background: black;

  h2{
    padding-bottom: 30px;
    font-size: 2rem;
  }
  p{
    margin-bottom: 0;
    font-size: 1.2rem;
  }
  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid white;
    border-radius: 30px;
    width: 50%;
    min-width: 215px;
    padding: 15px 10px;
    margin: 10px;
      &:last-of-type{
        margin-bottom: 70px;
      }
    @media screen and (max-width:810px) {
      width: 80%;
      margin: 20px;
      padding: 20px 10px;
    }
    i {
      color: $primary-color;
      padding: 0 5px;
      cursor: pointer;
    }
    p {
      margin: 0;
      font-size: 1.2rem;
    }
    .textResa {
      padding-left: 10px;
      font-style: italic;
    }
  }
}
.reserveCards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2%;
  padding: 10%;
  width: 100%;
  margin: 30px auto;
  position: relative;

  .cardReservation {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 30px auto;

    .img-container {
      @media (max-width: 810px){
        // height: 400px;
      margin-bottom: 65px;
      }
      
      h6,
      p {
        margin: -35px;
        color: white;
        text-align: center;
      }
      p {
        font-size: 0.8rem;
      }
    }
    .img-container img {
      width: 100%;
      height: 100%;
      object-fit: center/cover;
      overflow: hidden;
    }
    .hourResa {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 40px 40px 1fr;
      gap: 5%;
      padding: 5%;
      padding-bottom: 10%;
      border: 2px solid;
      grid-template-areas:
        "time time time"
        "time time time"
        " p p p";
      .hour {
        border-radius: 15px;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 100%;
        background: $primary-color;
        color: white;
        padding-top: 5px;
        padding-bottom: 5px;
        p {
          margin: 0;
          font-size: 0.7rem;
          font-family: "monserrat_regular";
        }
        .time {
          font-family: "monserrat_bold";
        }
      }
      .hour-black {
        background: $secondary-color;
        border-radius: 15px;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 100%;
        color: white;
        p {
          margin: 0;
          font-size: 0.7rem;
          font-family: "monserrat_regular";
        }
        .time {
          font-family: "monserrat_bold";
        }
      }
      .conseil {
        grid-area: p;
        text-align: center;
        font-size: 0.7rem;
        padding-bottom: 20px;
      }
      @media (max-width: 810px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 40px 40px 40px 1fr;
        grid-template-areas:
          "time time"
          "time time"
          "time time"
          "p p";
      }
    }
  }
  button {
    @include btnMix(black, none, $primary-color, $primary-color);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    &:hover {
      color: white;
    }
  }
  @media (max-width: 810px) {
    display: flex;
    flex-direction: column;
  }
}
