.temoignage {
  text-align: center;

  h2 {
    color: black;
    padding-top: 50px;
  }

  .container_cards {
    padding: 10%;
    gap: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    @media screen and (max-width: 375px) {
      display: none;
    }
    .card_temoignage {
      border: 2px solid;
      border-radius: 40px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      position: relative;
      .img_container {
        border-radius: 500px;
        height: 160px;
        width: 160px;
        overflow: hidden;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -80px;

        img {
          width: 100%;
          object-fit: cover;
        }
      }
      h4 {
        padding-top: 95px;
        font-family: "monserrat_bold";
        font-size: 1.2rem;
      }
      p {
        padding: 10px 10px 70px;
        text-align: center;
      }
      .star {
        color: $primary-color;
        text-align: center;
        font-size: 1.5rem;
        position: absolute;
        bottom: -40px;
        left: 50%;
        transform: translateX(-50%);
        padding: -10px 0;
        width: 100%;
      }
      .name {
        position: absolute;
        bottom: -60px;
        left: 50%;
        transform: translateX(-50%);
        padding: -10px 0;
        width: 100%;
        font-size: 0.8rem;
        font-family: "monserrat_regular";
      }
    }
  }
}
