.temoignage {
  text-align: center;

  .container_cards {
    padding: 10%;
    gap: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .card_temoignage {
      .img_container {
        border-radius: 500px;
        height: 160px;
        width: 160px;
        overflow: hidden;
        margin: 0 auto;
        img {
          width: 100%;
          object-fit: cover;
        }
      }
      p {
        padding: 10px 10px;
        text-align: left;
      }
    }
  }
}
