/* Error: expected "{".
 *   ,
 * 6 |   text-align: center;
 *   |                     ^
 *   '
 *   assets\scss\theme\_footer.scss 6:21  @import
 *   assets\scss\style.scss 13:9          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a   \2577 \a 6 \2502    text-align: center;\d\a   \2502                      ^\a   \2575 \a   assets\\scss\\theme\\_footer.scss 6:21  @import\a   assets\\scss\\style.scss 13:9          root stylesheet';
}
